nav .main-nav{
    display: inline-flex;
    width:97%;
    background-color: rgba(18,18,18,0.65);
    box-shadow: 0 0 10px black;
    align-items: center;
    color:rgba(255,255,255,0.65);
    list-style-type: none;
    user-select: none;
}

.main-nav li > a{
    display:block;
    padding: 16px;
    min-width:5em;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.65);
}

nav .main-nav li:active> a, nav .main-nav li.active > a{
    background-color:  rgba(255,0,0,0.8);
    color:white;
}

nav .main-nav li:hover > a {
    background-color: rgba(255,0,0,0.6);
    color:white;
}

.dropdown-content{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    background-color: rgba(18,18,18,1);
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a{
    text-decoration: none;
    color:rgba(255,255,255,0.6);
    display: block;
    padding: 16px;
    text-align: left;
}

.dropdown-content a:hover , .dropdown-content a:active{
    background-color:rgba(120, 0, 0,1);
    color:white;
}

li.dropdown:hover .dropdown-content{
    display: block;
}


